#form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
#cont{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    background-color: aqua;
    width:40%;
    height:200px;
    margin:30px;
}
#btn{
    color:rgb(185, 3, 173);
    background-color: rgb(223, 196, 196);
    width:40%;
}
